body {
    color: #526066;
}
img {
    width: 170px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    font-weight: 600;
}
h3 {
    text-align: center;
}
.boxtext {
    line-height: 1.6em;
    margin: 10px;
}
.footertext {
    margin: 20px;
}

.pure-menu {
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}

.pure-menu-link {
    padding: .5em .7em;
    font-size: 120%;
}
.pure-menu-item {
    margin-left: 100px;
    margin-right: 100px;
}

header {
    background-color: #571623;
    text-align: center;
    width: 100%;
    height: 180px;
}
content {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 70px;
}
.sectiondark {
    background-color: #f0d0d7;
    width: 100%;
    height: 250px;  
}
.sectionlight {
    background-color: #f8ebee;
    width: 100%;
    height: 250px;  
}

.banner-head {
    padding-top: 70px;
    vertical-align: middle;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 2em;
    color: white;
    text-shadow: 0 1px 1px black;
}

.pure-menu-horizontal {
    text-align: center;
}

.information-head {
    color: black;
    font-size: 150%;
}

footer {
    position: fixed;
    bottom: 0;
    height: 20px;
    width: 100%;
    margin: 0 auto;
    background: #111;
    color: #888;
    text-align: center;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    transition: 0.5s ease;
}
footer:hover {
    height: 60px;
}
.line { 
    margin: 25px 0;
    height: 2px;
    border: 0;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, black));
}

/* MOBILE */
@media only screen and (max-width: 400px) {
    .pure-menu-item {
        margin: 0;
    }
}
/* TABLET */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .pure-menu-item {
        margin-left: 20px;
        margin-right: 20px;
    }
}
