@font-face {
    font-family: sansation;
    src: url('Sansation_Regular.ttf');
}

body {
    font-family: sansation;
    color: #526066;
    margin: 0 auto;
}
/* VECTOR GFX AND OTHER IMAGES */
.productimg {
    margin: 10px;
    width: 150px;
    float: right;
    border-radius: 50px;
}

#truck {
    width: 163px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#medal {
    width: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#support {
    width: 129px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#stars {
    padding-top: 35px;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* TEXT STUFF */
p {
    font-family: sansation;
}
h1 {
    font-weight: 800;
}
h2 {
    font-style: italic;
    color: black;
    text-align: center;
    color:#484848;
}
h3 {
    text-align: center;
}
h4 {
    margin: 0;
    padding-top: 20px;
    font-size: 290%;
    letter-spacing: 9px;
    text-align: center;
}
h5 {
    font-size: 130%;
    letter-spacing: 4px;
    text-align: center;
}
h6 {
    font-family: sansation;
    font-size: 175%;
    margin: 0;
}
.boxtext {
    line-height: 1.6em;
    margin: 10px;
}
.footertext {
    margin: 20px;
}
.bannertext {
    letter-spacing: 10px;
    padding-top: 70px;
    vertical-align: middle;
    margin-bottom: 0;
    margin-top: 40px;
    font-size: 2em;
    color: white;
    text-shadow: 0 3px 3px black;
}

/* INPUT AND BUTTON*/

#newsinput {
    width: 40%;
}
.contactinput {
    margin-top: 20px;
    width: 50%;
}
.pure-input-rounded {
    margin: auto;
}
.pure-button {
    color: white;
    width: 115px;
    background-color: #5f1313;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
    transition: 0.1s
}
.pure-button:hover {
    background-color: #883434;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
}
.pure-button:active {
    background-color: #380b0b;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
}
#orderbutton {
    margin: 20px auto;
    display: block;
}
/* HEADER AND NAV */

.pure-menu {
    box-shadow: 0 1px 2px rgba(0,0,0, 0.50);
    position: fixed;
    top: 0px;
    background-color: white;
}

.pure-menu-link {
    padding: .5em .7em;
    font-size: 120%;
}
.pure-menu-item {
    margin-left: 50px;
    margin-right: 50px;
}
.pure-form {
    text-align: center;
    margin: auto;
}
header {
    background-color: #711f2f;
    text-align: center;
    width: 100%;
    height: 210px;
    margin-bottom: 40px;
}

/* PAGE MIDDLE CONTENT */

content {
    width: 90%;
    margin: 50px auto;
    margin-bottom: 70px;
}
.sectiondark {
    background-color: #f0d0d7;
    width: 100%;
    height: 250px;  
    transition: 0.5s;
}
.sectiondark:hover {
    background-color: #f7e5e9;
}
.sectiondark2 {
    margin-top: 100px;
    width: 100%;
    height: 250px;  
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
    animation: flashing 0.7s infinite
}
.sectionlight {
    margin-top: 100px;
    background-color: #ffffff;
    width: 100%;
    height: 250px;  
}

.pure-menu-horizontal {
    text-align: center;
}

.information-head {
    color: #525252;
    font-size: 150%;
}

#searchbar {
    float: left;
    margin-left: 50px;
    width: 40%;
    height: 200px;
}
#pricebar {
    float: right;
    margin-right: 50px;
    width: 40%;
    height: 200px;
}
.slider {
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-appearance: none;
    width: 50%;
    height: 40px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 50px;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    background: #4d4d4d;
    cursor: pointer;
    border-radius: 50px;
}

.slider::-moz-range-thumb {
    width: 40px;
    height: 40px;
    background: #4CAF50;
    cursor: pointer;
    border-radius: 50px;
}
.productbox {
    background-color: white;
    margin: 10px;
    padding: 15px;
    min-height: 220px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
    word-wrap: break-word;
}
/* FOOTER */

footer {
    position: fixed;
    bottom: 0;
    height: 20px;
    width: 100%;
    margin: 0 auto;
    background: #111;
    color: #888;
    text-align: center;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    transition: 0.5s ease;
}
footer:hover {
    height: 60px;
}
.line { 
    margin: 25px 0;
    height: 2px;
    border: 0;
    background: rgba(0, 0, 0, 0.55);
    background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, rgba(67, 67, 67, 0.54)));
}
.line2 {   
    width: 100%;
    margin: 5px 0;
    height: 1px;
    border: 0;
    background: rgba(0, 0, 0, 0.36);
}

@keyframes flashing {
    0% {
        background-color: #ff42be;
    }
    20% {
        background-color: #7cff42;
    }
    40% {
        background-color: #42ffb6;
    }
    60% {
        background-color: #428bff;
    }
    80% {
        background-color: #a842ff;
    }
    100% {
        background-color: #ff42be;
    }
    
}
/* MOBILE */
@media only screen and (max-width: 400px) {
    .pure-menu-item {
        margin: 0;
    }
    .pure-menu-link {
        padding: 11px;
        font-size: 120%;
    }
    #stars { 
        width: 250px;
    }
    h4 {
        font-size: 180%;
    }
    #searchbar {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    #pricebar {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .pure-form {
        text-align: center;
        margin: auto;
    }
    .productimg {
        margin: 0 auto;
        float: none;
    }
    footer:hover {
        height: 100px;
    }
    .contactinput {
        margin-top: 20px;
        width: 75%;
    }
    .bannertext {
        letter-spacing: 5px;
    }
    input {
        margin: auto;
    }
}
/* TABLET */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .pure-menu-item {
        margin-left: 20px;
        margin-right: 20px;
    }
     h4 {
        font-size: 250%;
    }
    #searchbar {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    #pricebar {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .productimg {
        margin: 0 auto;
        float: none;
    }
    input {
        margin: auto;
    }
}
